<div class="card">
    <p class="text-danger mt-4 p-4" style="background-color: lightblue;font-size: 20px; font-style: italic;text-align: center;font-weight: bolder;">
        “So many books, so little time.”
        ― Frank Zappa
    </p>
    <div class="card-body p-2">
        <button class="btn btn-sm btn-primary p-2">
            <a routerLink="/headcusts/category/list" class="btn btn-sm text-light">Category List</a>
        </button>
        <button class="btn btn-sm btn-primary p-2">
            <a routerLink="/headcusts/category/add" class="btn btn-sm text-light">New Category</a>
        </button>
    </div>
</div>
<router-outlet></router-outlet>