<div class="card">
    <p class="text-danger mt-4 p-4" style="background-color: lightblue;font-size: 20px; font-style: italic;text-align: center;font-weight: bolder;">
        “If one cannot enjoy reading a book over and over again, there is no use in reading it at all.”
        ― Oscar Wilde</p>
    <div class="card-body p-2">
        <button class="btn btn-sm btn-primary p-2">
            <a routerLink="/headcusts/bookorder/list" class="btn btn-sm text-light">BookOrder List</a>
        </button>
        <button class="btn btn-sm btn-primary p-2">
            <a routerLink="/headcusts/bookorder/add" class="btn btn-sm text-light">New Bookorder</a></button>
    </div>
</div>
<router-outlet></router-outlet>