<div class="card">
    <p class="text-danger mt-4 p-4" style="font-size: 20px; font-style: italic;
    text-align: center;font-weight: bolder;background-color: lightblue;">
        “So many books, so little time.”
        ― Frank Zappa
    </p>
    <div class="card-body p-2">
        <button class="btn btn-sm btn-primary p-2">
            <a routerLink="/uheader/ucategory/ulist" class="btn btn-sm text-light" style="font-size: 15px;">Category
                List</a>
        </button>
    </div>
</div>
<router-outlet></router-outlet>