<div class="card">
    <p class="text-danger mt-4 p-4" style="background-color: lightblue;font-size: 20px; font-style: italic;text-align: center;font-weight: bolder;">
        “Sometimes, you read a book and it fills you with this weird evangelical zeal, and you become convinced that the shattered world will never be put back together unless and until all living humans read the book.”
        ― John Green, The Fault in Our Stars
    </p>
    <div class="card-body mt-16 p-2">
        <button class="btn btn-sm btn-primary p-2">
            <a routerLink="/headcusts/orders/list" class="btn btn-sm text-light">Order List</a>
        </button>
        <button class="btn btn-sm btn-primary p-2">
            <a routerLink="/headcusts/orders/add" class="btn btn-sm text-light">New Orders</a>
        </button>
    </div>
</div>
<router-outlet></router-outlet>