<div class="card">
    <p class="text-danger mt-4 p-4" style="font-size: 20px; font-style: italic;text-align: center;
    font-weight: bolder;background-color: lightblue;">
        "The library is inhabited by spirits that come out of the pages at night."
        - Isabel Allende


    </p>
    <div class="card-body p-2">
        <button class="btn btn-sm btn-primary p-2">
        <a routerLink="/uheader/ubooks/ulist" class="btn btn-sm text-light">Book List</a>
        </button>
        <!-- <button class="btn btn-sm btn-primary p-2">
            <a routerLink="/uheader/ubooks/ucat" class="btn btn-sm text-light">Search By Category</a>
            </button> -->
        
    </div>
</div>
<router-outlet></router-outlet>