<div class="card">
    <p class="text-danger mt-4 p-4" style="background-color: lightblue;font-size: 20px; font-style: italic;text-align: center;font-weight: bolder;">
        “A reader lives a thousand lives before he dies . . . The man who never reads lives only one.” - George R.R.
        Martin
    </p>
    <div class="card-body  mt-16 p-2">
        <button class="btn btn-sm btn-primary p-2">
            <a routerLink="/headcusts/custs/list" class="btn btn-sm text-light">Customer List</a>
        </button>
        <button class="btn btn-sm btn-primary p-2">
            <a routerLink="/headcusts/custs/add" class="btn btn-sm text-light"> New Customer</a>
        </button>
    </div>
</div>
<router-outlet></router-outlet>