<div class="card">
    <p class="text-danger mt-4 p-4" style="background-color: lightblue;font-size: 20px; font-style: italic;text-align: center;font-weight: bolder;">
       " If I like a book, I tend to read the author's entire collection. But I choose mainly through personal
        recommendations, general word of mouth and book reviews. "

        - Randa Abdel-Fattah

    </p>
    <div class="card-body p-2">
        <button class="btn btn-sm btn-primary p-2">
            <a routerLink="/headcusts/reviews/list" class="btn btn-sm text-light">Review List</a>
        </button>
        <button class="btn btn-sm btn-primary p-2">
            <a routerLink="/headcusts/reviews/add" class="btn btn-sm text-light">New Reviews</a>
        </button>
    </div>
</div>
<router-outlet></router-outlet>