<div class="card">
    <p class="text-danger mt-4 p-4" style="font-size: 20px; font-style: italic;text-align: center;
    background-color: lightblue;font-weight: bolder;">
        "The library is inhabited by spirits that come out of the pages at night."
        - Isabel Allende


    </p>
    <div class="card-body p-2">
        <button class="btn btn-sm btn-primary p-2">
        <a routerLink="/headcusts/books/list" class="btn btn-sm text-light">Book List</a>
        </button>
        <button class="btn btn-sm btn-primary p-2">
        <a routerLink="/headcusts/books/add" class="btn btn-sm text-light">New Book</a>
        </button>
    </div>
</div>
<router-outlet></router-outlet>