<section class=" text-success">
</section>
<h1 class=" mt-4" style="text-align: center;font-weight: bolder;font-style: oblique;color: lightsalmon;">Welcome to BMS APP</h1>
<h4 class="mt-2" style="text-align: center;font-style: oblique;font-size: smaller;color: lightsalmon;">( We have developed a user friendly web-application )</h4>
<div class="card">
    <div class="card-body p-2">
        <p class="text-info mt-4 p-4" style="font-size: 20px; font-style: italic;text-align: center; font-weight: bolder;">
            "Books are the quietest and most constant of friends; they are the most accessible and wisest of counselors,
            and
            the most patient of teachers."
        </p>
        <div id ="center">  
        <a><img [src]="imageSrc" [alt]="imageAlt" width="1250" height="500"  /></a>
        </div>
    </div>
</div>